        <div><button id="button-showCostCodes" onclick="document.location='cost_codes.html'">Edit cost codes</button><br/><br/></div>



        <button type="button" class="btn btn-secondary" id="button-showViewall" onclick="showViewall()">Back to view all</button><br/><br/>


        <button type="button" class="btn btn-primary float-right" id="button-showCreate" onclick="showCreate()">Record a month</button>


        <div class="container pt-3"> <button onclick="goToWebviewer()" class="btn btn-primary">Back to Webviewer</button></div>


        <button type="button" class="btn btn-secondary" id="button-showViewall" onclick="goToWebviewer()">Back to view all</button><br/><br/>

        //<button type="button" class="btn btn-secondary" id="button-showViewall" onclick="goToWebviewer()">Back to view all</button><br/><br/>
