<html>
    <head>
        <title>View Readings</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      </head>
    
    <body>
        <h1>Electricity Readings</h1>
        <div><button id="button-showCreate" onclick="showCreate()">Record a month</button><br/></div>
        <div><button id="button-showCostCodes" onclick="document.location='cost_codes.html'">Edit cost codes</button><br/><br/></div>
        <div>
            <table class="table table-striped" id="elecTable">
              <thead>
                <tr>
                        <th style="display:none">Id</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Units</th>
                        <th>Cost Code</th>
                        <th>Supplier</th>                        
                        <th>Standing Charge</th>
                        <th>Unit cost</th>
                        <th>Update</th>
                        <th>Delete</th>
                </tr>
              </thead>
              <tbody>
 
              </tbody>
            </table>
        </div>
        <div id="createUpdateForm" style="display:none">
          <!-- spans are like divs but do not go onto a new line -->
          <h2><span id="createLabel">Create a</span> <span id="updateLabel">Update this</span> Reading</h2>
          id <input type="number" name="id"><br/>
          Year <input type="number" name="year"><br/>
          Month <input type="number" name="month"><br/>
          Units <input type="number" name="unit"><br/>
          Cost code <input type="text" name="cost_code"><br/>
         
          <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
          <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
           <!-- "display:none" will make it hidden-->


      </div>          
    </body>

    <script>
        function addReadingToTable(reading){
          //console.log("adding reading to table---", reading)
          var tableBody = document.querySelector('#elecTable tbody')
          var rowElement = tableBody.insertRow(0)
          var id = reading.id
          rowElement.setAttribute("id", id)

          var cell1 = rowElement.insertCell(0);
          cell1.innerHTML = reading.year
          var cell2 = rowElement.insertCell(1);
          cell2.innerHTML = reading.month
          var cell3 = rowElement.insertCell(2);
          cell3.innerHTML = reading.unit
          var cell4 = rowElement.insertCell(3);
          cell4.innerHTML = reading.cost_code
          var cell5 = rowElement.insertCell(4);
          cell5.innerHTML = reading.supplier
          var cell6 = rowElement.insertCell(5);
          cell6.innerHTML = reading.s_charge
          var cell7 = rowElement.insertCell(6);
          cell7.innerHTML = reading.unit_cost
          var cell8 = rowElement.insertCell(7);
          cell8.innerHTML = `<button onclick="showUpdate(this)">Update</button>`;
          var cell9 = rowElement.insertCell(8);
          cell9.innerHTML = `<button onclick="doDelete(this)">Delete</button>`;
        }
        
        function showCreate(){
            document.getElementById("createUpdateForm").style.display = "block"
            
            document.getElementById("button-doCreate").style.display = "block"
            document.getElementById("button-doUpdate").style.display = "none"
            document.getElementById("createLabel").style.display = "inline"
            document.getElementById("updateLabel").style.display = "none"
            document.getElementById("button-showCreate").style.display = "none"
            document.getElementById("elecTable").style.display = "none"
            // Disable the id field
            document.querySelector('input[name="id"]').disabled = true;

        }
        
        function showUpdate(buttonElement){
            document.getElementById("createUpdateForm").style.display = "block"          
            document.getElementById("button-doCreate").style.display = "none"
            document.getElementById("button-doUpdate").style.display = "block"
            document.getElementById("createLabel").style.display = "none"
            document.getElementById("updateLabel").style.display = "inline"
            document.getElementById("button-showCreate").style.display = "none"
            document.getElementById("elecTable").style.display = "none"
            rowElement= buttonElement.parentElement.parentElement
            console.log("rowElement in showupdate", rowElement)
            console.log("rowElement in showUpdate", rowElement)
            reading = getReadingFromRow(rowElement)
            console.log("reading in showUpdate", reading)
            //console.log(book)
            populateFormWithReading(reading)           
        }

        function doCreate(){
            console.log("creating a reading")
            reading = getReadingFromForm()
            console.log(reading)
            createReading(reading, function (result) {
            console.log("Reading created successfully:", result);
            // Add the newly created reading to the table
      
            // Clear the form and switch views
            clearForm();
            showViewall();
        });
        }
        
        function doUpdate(){
            reading = getReadingFromForm()
            console.log("reading in doUpdate", reading)
            var rowElement = document.getElementById(reading.id)
            setReadingInRow(rowElement, reading)
            updateReading(reading)
            showViewall()
            clearForm() 
        }




        function doDelete(buttonElement){
            console.log("in delete")
            console.log(buttonElement)
            var tableElement = document.querySelector('#elecTable tbody')
            var rowElement = buttonElement.parentElement.parentElement
            // I need the id
            id = rowElement.getAttribute("id")
            console.log("deleting "+id)
            deleteReading(id, doNothing)
            index = rowElement.rowIndex
            tableElement.deleteRow(index-1);

        }


        function getReadingFromRow(rowElement){
            var reading ={}
            var id = rowElement.getAttribute("id");
            
            //reading.id  = rowElement.cells[0].firstChild.textContent
            console.log("Id", reading.id)
            reading.id = id
            reading.year = rowElement.cells[0].firstChild.textContent
            reading.month = rowElement.cells[1].firstChild.textContent
            reading.unit = rowElement.cells[2].firstChild.textContent
            reading.cost_code = rowElement.cells[3].firstChild.textContent

            return reading
        }


        function getReadingFromForm(){
            var form = document.getElementById('createUpdateForm')

       	    var reading = {}
            reading.id = form.querySelector('input[name="id"]').value
        	  reading.year = form.querySelector('input[name="year"]').value
        	  reading.month = form.querySelector('input[name="month"]').value
        	  reading.unit = form.querySelector('input[name="unit"]').value
            reading.cost_code = form.querySelector('input[name="cost_code"]').value
        	//console.log(JSON.stringify(book))
            return reading
        }


        function setReadingInRow(rowElement, reading){
            console.log("setting reading in row", reading)
            rowElement.setAttribute("id", reading.id)
            rowElement.cells[0].firstChild.textContent= reading.year
            rowElement.cells[1].firstChild.textContent= reading.month
            rowElement.cells[2].firstChild.textContent= reading.unit
            rowElement.cells[3].firstChild.textContent= reading.cost_code

          }

        function populateFormWithReading(reading){
       		var form = document.getElementById('createUpdateForm')
        	form.querySelector('input[name="id"]').disabled = true

       		form.querySelector('input[name="id"]').value  = reading.id
       		form.querySelector('input[name="year"]').value= reading.year
        	form.querySelector('input[name="month"]').value= reading.month
        	form.querySelector('input[name="unit"]').value= reading.unit
          form.querySelector('input[name="cost_code"]').value= reading.cost_code

    }


        function showViewall(){
            document.getElementById("createUpdateForm").style.display = "none"
           
            document.getElementById("button-showCreate").style.display = "block"
            console.log("showing view all")
            document.getElementById("elecTable").style.display = "block"
        }

        function clearForm(){
            var form = document.getElementById('createUpdateForm')


            form.querySelector('input[name="year"]').value  =''
            form.querySelector('input[name="month"]').value=''
            form.querySelector('input[name="unit"]').value=''
            form.querySelector('input[name="cost_code"]').value=''
        }

        function doNothing(result){
            console.log("nothing:"+result)
            return "done"
        }
        function getAllAjax(){
        console.log("in get all")
        $.ajax({
            "url": "http://127.0.0.1:5000/elec",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
              
            for (reading of result){
                //console.log(reading);                
              addReadingToTable(reading);
              }                   
              },
              "error":function(xhr,status,error){
               console.log("error: "+status+" msg:"+error);
                 }
              });          
              }
            
            function createReading(reading, callback){
            console.log(JSON.stringify(reading));
            $.ajax({
                "url": "http://127.0.0.1:5000/elec",
                "method":"POST",
                "data":JSON.stringify(reading),
                "dataType": "JSON",
                contentType: "application/json; charset=utf-8",
                "success":function(result){
                    console.log("the reading.id", result.id)
                    reading.id = result.id
                    addReadingToTable(reading);
                    // Needs to refresh to get the cost_code info from the database
                    getAllAjax();
                    console.log(reading)
                    console.log(result);
                    callback(result)  
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            })};
          

            function deleteReading(id){
            $.ajax({
                "url": "http://127.0.0.1:5000/elec/"+encodeURI(id),
                "method":"DELETE",
                "data":"",
                "dataType": "JSON",
                contentType: "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });
          }
     
          function updateReading(reading, callback){
            console.log("reading id in updateReading", reading.id);
            console.log("reading id in updateReading", reading);

            $.ajax({
                "url": "http://127.0.0.1:5000/elec/"+encodeURI(reading.id),
                "method":"PUT",
                "data":JSON.stringify(reading),
                "dataType": "JSON",
                contentType: "application/json; charset=utf-8",
                "success":function(result){
                   // console.log(result);
                    callback(result)   
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });
        }


          getAllAjax();    
     
         </script>

</html>